* {
  margin: 0;
}

.main {
  padding: 86px 80px 0px 80px;
  min-height: calc(100vh - 172px - 63px);
}

a {
  text-decoration-line: none;
  color: inherit;
}

li {
  list-style-type: none;
  list-style: none;
  padding-bottom: 20px;
}