.alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* 전체 너비의 80%로 설정 */
    max-width: 800px; /* 최대 너비 설정 */
    padding: 20px; /* 좌우 여백 추가 */
    background-color: rgba(170, 217, 187, 0.1); 

}

.alert-box {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 150px;
}

h2 {
    text-align: left;
}



